<section class="hero is-fullheight-with-navbar about-hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Expeience the road with us
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Our stations</h2>
    <p>
      For over 20 years we operate in the toughest places on earth in order for you to enjoy your ride home.
    </p>
    <div class="columns is-centered description-section">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://sites.google.com/site/kamulipage/home/kamuli-town-map-info/public-services/gas-stations/DSC07190.JPG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title is-4"><i class="fa fa-map-marker" aria-hidden="true"></i>Masaka Rd, Kampala</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://sites.google.com/site/kamulipage/home/kamuli-town-map-info/public-services/gas-stations/DSC07229.JPG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title is-4"><i class="fa fa-map-marker" aria-hidden="true"></i>Our Lady Rd, Gayaza</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://sites.google.com/site/kamulipage/home/kamuli-town-map-info/public-services/gas-stations/DSC07410.JPG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title is-4"><i class="fa fa-map-marker" aria-hidden="true"></i>Mukono - Kayunga Road, Mukono</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>