<section class="hero has-background-grey-lighter is-fullheight login-hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          {{login-form}}
        </div>
        <p class="has-text-grey">
          {{#link-to "register"}}
            Sign Up
          {{/link-to}}&nbsp;·&nbsp;
          {{#link-to "index"}}
            Forgot Password
          {{/link-to}}&nbsp;·&nbsp;
          {{#link-to "about"}}
            Need Help?
          {{/link-to}}
        </p>
      </div>
    </div>
  </div>
</section>