<footer class="footer">
  <div class="content has-text-centered">
    <p>Contact us: +256(570)903-8558</p>
    <p>Write us an email: reception@crane.com</p>
    <p>Our main office: P.O.Box 21011 Sir Apollo Kaggwa Rd, Kampala, Uganda</p>
  </div>
</footer>