<form>
  <div class="field">
    <div class="control">
      {{input 
        class="input is-large"
        type="text"
        placeholder="Your username"
        autofocus=""
        value=username
      }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      {{input 
        class="input is-large"
        type="password"
        placeholder="Your Password"
        value=password
      }}
    </div>
  </div>
  <button
    class="button is-block is-info is-large is-fullwidth"
    {{action "loginUser"}}
  >
    Login
  </button>
</form>